<div class="LR-header LR-header-bg-color-container">
        <a class="logo" href="/">
          <h1 class="LR-site-title" style="display: none;">Pitchtarget</h1>
          <div class="LR-site-logo"><img src="/imgs/logo.png"></div>
          <div class="logo-name"><span class="lightgray">pitch</span><span class="darkgray">target</span></div>
        </a>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/api">API Docs</a>
        <a class="nav" href="/careers">Careers</a>
        <a class="nav nav-highlight" href="/#contact">Contact us</a>
      </div>
