@font-face {
  font-family: "Consolas";
  src: url("../fonts/Consolas.ttf"); }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.otf"); }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.otf");
  font-weight: 700; }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNovaRegular.otf"); }

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/ProximaNovaBold.otf"); }

body {
  font-family: "ProximaNova";
  color: #111111;
  font-size: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden; }

#container {
  margin-top: 5.000em;
  margin-left: auto;
  margin-right: auto; }

body.with-nav #container {
  width: 1000px;
}

body.with-nav #article {
  width: 800px;
  margin-left: 200px;
}


h2 {
  margin-left: auto;
  margin-right: auto;
  font-family: "ProximaNova-Bold";
  font-size: 1.313em;
  width: 22.08682em;
  color: #222;
  margin-top: 1.875em; }

a {
  color: #cccccc;
  text-decoration: none; }

a:hover {
  color: #999999; }

#header {
  padding-top: 0.625em;
  position: absolute;
  left: 0.313em;
  top: 0.313em; }

.pt-nav {
  position:fixed;
  font-size: 0.8em;
  width: 150px;
  margin-top: -10px;
}

.pt-nav strong {font-family: "ProximaNova-Bold";font-size:1.2em;display:block;margin:5px 0 0;}

.pt-nav ul {
  list-style-type: none;
  padding: 5px 10px;
  margin: 5px 0;
  border-left: 1px solid #eee;
}

.pt-nav ul li {margin-bottom: 10px;}
.pt-nav ul li:last-child {margin-bottom: 0}

.pt-nav a, .pt-nav a:visited, .pt-nav a:hover, .pt-nav a:active {color: #e33;}
.pt-nav a:hover {text-decoration: underline;}
.pt-nav a.active {font-family:"ProximaNova-Bold";color: #000;}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .pt-nav {display:none;}

  #logo {
    font-size: 60; }

  #header {
    position: relative !important; } }
