@font-face {
  font-family: "Consolas";
  src: url("../fonts/Consolas.ttf"); }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.otf"); }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.otf");
  font-weight: 700; }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNovaRegular.otf"); }

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/ProximaNovaBold.otf"); }

body {
  font-family: "ProximaNova";
  color: #111111;
  font-size: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

#container {
  margin-top: 5.000em;
  margin-left: auto;
  margin-right: auto;
  width: 800px; }

h1 {
  margin-top: 1em;
  margin-bottom: 0em;
  font-family: "ProximaNova-Bold";
  font-size: 2.250em;
  color: #373737;
  line-height: 1em; }

h2 {
  font-family: "ProximaNova-Bold";
  font-size: 1.313em;
  width: 800px;
  color: #222;
  margin-top: 1.875em; }

h3 {
  font-family: "ProximaNova-Bold";
  font-size: 1.213em;
  color: #222;
  margin-top: 1.875em; }

h4 {
  font-family: "ProximaNova-Bold";
  font-size: 1.113em;
  color: #222;
  margin-top: 1.875em; }

a {
  color: #cccccc;
  text-decoration: none; }

a:hover {
  color: #999999; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border-right: 0.063em solid #dedede;
  border-bottom: 0.063em solid #dedede; }

th {
  text-align: left; }

th, td {
  padding: 5px;
  border-left: 0.063em solid #dedede;
  border-top: 0.063em solid #dedede; }

#header {
  padding-top: 0.625em;
  position: absolute;
  left: 0.313em;
  top: 0.313em; }

#logo {
  font-family: "Montserrat";
  font-size: 1.563em;
  letter-spacing: -2;
  color: #dddddd;
  font-weight: 700;
  display: inline;
  padding: 0.188em 0.500em 0.188em 0.375em; }

#logo:hover {
  color: #333333; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  #logo {
    font-size: 60; }

  #header {
    position: relative !important; } }

#article {
  font-family: "ProximaNova";
  font-size: 1.125em;
  line-height: 1.5em;
  color: #373737; }

#article a {
  color: #e33; }

#article p {
  margin-top: 1.375em;
  margin-bottom: 1.375em;
  overflow-x: hidden; }

ul { }

#article a:hover {
  border-bottom: 0.063em solid #e33; }

#footer {
  margin-top: 3.125em;
  font-size: 0.8em;
  text-align: center;
  color: #888;
}

#footer a {color: #888;}
#footer a:hover {text-decoration: underline}

#more-words {
  font-size: 1.563em;
  font-family: Montserrat;
  color: #dddddd;
  letter-spacing: -2;
  font-weight: 700;
  padding: 0.250em;
  text-align: center; }

#more-words:hover {
  color: #333333; }

.highlight {
  font-family: Consolas;
  color: #333;
  z-index: -1;
  background: #fafafd;
  border: 0.063em solid #dedede;
  line-height: 1.5em;
  padding: 1em;
  left: 0;
  right: 0;
  overflow-wrap: break-word; }

pre {
  display: block;
  margin: 0;
  font-size: 0.875em;
  font-family: Consolas;
  color: #333;
  font-style: bold;
  line-height: 1.3em; }

code {
  background: #fafafd;
  font-family: Consolas;
  padding: 0.063em;
  border: 0.063em solid #dedede; }

pre > code {
  border: 0 none; }

p code {
  font-size: 0.9em; }

li a code {
  font-size: 0.865em; }

blockquote {
  z-index: -1;
  margin: 0;
  padding: 0;
  background: #fafafd;
  border: 0.063em solid #dedede;
  border-right: 0em solid #fff;
  left: 0;
  right: 0;
  width: 100%; }

blockquote p {
  margin: 0;
  font-size: 1em;
  overflow: auto;
  line-height: 1.3em;
  color: #888; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  @viewport {
    width: device-width; }

  body {
    font-size: 100% !important;
    font-family: Helvetica, Arial, Verdana, sans-serif;
 }

/*  div {
    clear: both !important;
    display: block !important;
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important; }
*/
  .codehilite {
    padding-top: 1.25em !important;
    padding-bottom: 1.25em !important; }

  .mobile-table-wrapper {
    width: 100%;
    overflow-x: scroll;
  }

  pre {
    overflow: auto; }

  blockquote p {
    overflow: auto; }

  #container {width: 100% !important;}

  body.with-nav #article {width: 100% !important; margin: 0 !important;}

  #header {
    position: absolute; }

  #article {
    margin: 10px;
  }

  h2 {width: auto;}

  @font-face {
    font-family: "ProximaNova-Bold";
    src: url("../fonts/ProximaNovaRegular.otf"); } }
