<!DOCTYPE html>
<head>
<link href='/assets/stylesheets/freightsans.css' rel='stylesheet' type='text/css'>
<link href='/assets/stylesheets/glyphs.css' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<script src="/js/jquery-2.1.0.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/header.js"></script>
<!-- REMOVE -->
<title>Careers at Pitchtarget</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="title" content="Careers at Pitchtarget" />
<meta name="keywords" content="" />
<meta property="og:title" content="Careers at Pitchtarget"/>
<meta property="og:type" content="company"/>
<meta property="og:site_name" content="Pitchtarget"/>
<meta property="og:description" content="This is our office. If you don't have the same view, you should join us. We are looking for awesome talents." />
<meta property="og:url" content="http://pitchtarget.com/careers" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:image" content="http://instagram.com/p/gk3Ti-golU/media?size=l"/>
<link rel="shortcut icon" href="/imgs/icons/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="/imgs/icons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/imgs/icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/imgs/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/imgs/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/imgs/icons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/imgs/icons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/imgs/icons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/imgs/icons/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/imgs/icons/mstile-144x144.png">
<meta name="msapplication-square70x70logo" content="/imgs/icons/mstile-70x70.png">
<meta name="msapplication-square144x144logo" content="/imgs/icons/mstile-144x144.png">
<meta name="msapplication-square150x150logo" content="/imgs/icons/mstile-150x150.png">
<meta name="msapplication-square310x310logo" content="/imgs/icons/mstile-310x310.png">
<meta name="msapplication-wide310x150logo" content="/imgs/icons/mstile-310x150.png">
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

  <link href="/css/custom.css" rel="stylesheet" />
  <link href="/assets/stylesheets/header.css" rel="stylesheet" />

  <!-- REMOVE -->

</head>
<body>
  <img src="https://addictive-inventory.herokuapp.com/53047a3fca88ff051c0ac34b/event.gif?event_token=view_careers" width="1" height="1" />
  <div id="content" class="LR-content"><!-- LR-sharing-page LR-stats LR-lx -->
  {% include header.html %}
<div class="careers-hero-container">
  <div class="work-background">
<!--     <img src="http://instagr.am/p/jjvQyOSn9R/media?size=l" />
    <img src="http://instagr.am/p/kKSwrYAoiv/media?size=l" />
    <img src="http://instagr.am/p/kKSwrYAoiv/media?size=l" />
    <div class="clearfix"></div>
 -->  </div>
  <div class="clearfix"></div>
  <h2 id="heading" class="LR-site-tagline montserrat">Careers at Pitchtarget</h2>
</div>
<div class="application">
  <a href="#" class="browse-positions"><span class="img"></span> Browse positions</a>
  <div class="positions">
    <a id="apply-for-this-position"></a>
    <ul class="listings">
      <li><a href="#head-of-marketing-solutions" class="active">Head of Marketing Solutions</a></li>
      <li><a href="#software-engineer">Software Engineer</a></li>
    </ul>
    <form method="post" enctype="multipart/form-data" action="//forms.brace.io/hr@pitchtarget.com">
      <h2>Apply for <span></span></h2>
      <input type="hidden" name="role" id="role" value="" />
      <label for="name">Your name</label>
      <input type="text" name="name" id="name" />
      <label for="email">Your email</label>
      <input type="email" name="_replyto" id="email" />
      <label for="resume">Link to your LinkedIn profile</label>
      <input type="test" name="resume" id="resume" />
      <input type="hidden" name="_next" value="/thanks/careers.html" />
      <button type="submit" id="submit">Submit</button>
    </form>
    <div class="job-spec">
    <div class="spec" id="head-of-marketing-solutions">
      <h2>Head of Marketing Solutions</h2>
      <h3>Milan, Italy</h3>
      <p>Pitchtarget is a performance marketing platform. Our mission is to become the growth machine for business of any size. We want to make marketing easy to understand for marketers, and less painful for people. We use technology to make hard tasks easy, and we are enabling startups, ecommerces and media agencies to scale through our marketing platform. We have an all-round marketing intelligence that we apply by working side by side with our partners.</p>
      <h4>What you will be doing</h4>
      <p>We are looking for a talented and experienced Head of Marketing Solutions who grew reputation in the Performance Marketing field.
      Our Head of Marketing Solutions will help us bootstrap our Sales organisation, and to deliver on our budget goals. You have the chance to become our third founder, which means you will have no direct report, and you will have the opportunity to lead in creating a
      successful sales organisation that will break ground in both marketing and advertising. Your equity and compensation will closely depend on your impact. If you are gold, we'll give you gold.</p>

      <p>Our Head of Marketing Solutions will be responsible for:</p>
      <ul>
        <li>Managing relationships with existing clients</li>
        <li>Offer training, onboarding and education through a constant relationship with our existing and new clients</li>
        <li>Doing the impossible to acquire new clients</li>
        <li>Qualifying existing leads</li>
        <li>Study and implement scalable strategies to support our torso and tail clients</li>
        <li>Working out forecasts and quotas in order to meet our budget goals</li>
        <li>Influence the market and the industry by establishing relationships with stakeholders in the EMEA region</li>
      </ul>

      <h4>Expectations</h4>
      <p>Apply if:</p>
        <ul>
          <li>You have a proven track record of exceeding your quotas</li>
          <li>You built your reputation and your career on performance marketing</li>
          <li>You are hungry. You crave performance and results.</li>
          <li>You love to meet and help clients</li>
          <li>You speak English</li>
        </ul>

      <h4>Bonus points</h4>
      <p>You will jump the queue if you have one or more of these:</p>
      <ul>
        <li>You led a Sales or Marketing team</li>
        <li>You know how to use Facebook Ads and/or AdWords, plus you know how RTB works</li>
        <li>You sold digital advertising in your past life</li>
        <li>You have an MBA or equivalent level of education</li>
        <li>You can't take anymore of your job and you want to make tremendous impact. Don't watch the next big thing. Let's build it together.</li>
      </ul>

      <h4>About this position</h4>
      <ul>
        <li>This position will be based in Milan, Italy</li>
        <li>This is a quota-based position with fixed salary and bonus on commission schedule</li>
        <li>Your salary and bonuses will be determined based on experience and performances.</li>
        <li>Benefits include (but are not limited to) laptop, phone, travel budget</li>
      </ul>

      <h4>About Pitchtarget</h4>
      <ul>
        <li>We started in January 2014</li>
        <li>We are part of H-FARM, they invested heavy on us. That's why we can afford a Head of Marketing Solutions.</li>
        <li>We are a team of entrepreneurs. Some of us left big companies to build this.</li>
      </ul>
      <a class="go-for-it" href="#apply-for-this-position">Apply for this position</a>
    </div>
      <div class="spec" id="software-engineer">
        <h2>Front-End Engineer</h2>
        <h3>Venice, Italy</h3>
        <p>Pitchtarget is a performance marketing platform. Our mission is to become the growth machine for business of any size. We want to make marketing easy to understand for marketers, and less painful for people. We use technology to make hard tasks easy, and we are enabling startups, ecommerces and media agencies to scale through our marketing platform. Every day we face problems that are unique to this platform, and we are looking talented people who love to solve those challenges.</p>

        <h4>What you will be doing</h4>
        <p>We are looking for a Front-End Engineer who is passionate about both product and technical challenges. A Front-End Engineer at Pitchtarget is responsible for:</p>
        <ul>
          <li>Work together with the product team in order to prototype new ideas and features</li>
          <li>Work with out Product Designers to transform mockup into awesome interfaces</li>
          <li>Work together with our Engineering team in order to integrate your work into our development and release cycle</li>
          <li>Re-thinking, refactoring, making things better</li>
          <li>Challenging the rest of the team by being faster and smoother</li>
          <li>Performing maintenance work and fixing bugs</li>
        </ul>

        <h4>Expectations</h4>
        <p>Apply if:</p>
          <ul>
            <li>You built something that you are proud to show us</li>
            <li>You have experience with a client-side MVC framework such as Angular, Ember, Backbone, ExtJS, plus you know jQuery</li>
            <li>You know how to write CSS and Javascript according to coding standards</li>
            <li>You know how to integrate REST APIs from different vendors in Javascript apss</li>
            <li>You have a strong experience using Git in big teams</li>
            <li>You do not compromise about quality. You are OCD about perfection. If something's not right, you just go ahead and change it.</li>
          </ul>

        <h4>Bonus points</h4>
        <p>You jump the queue if you have one or more of these:</p>
        <ul>
          <li>You have experience with Javascript testing frameworks</li>
          <li>You know Ruby on Rails</li>
          <li>You know how to optimise performance and memory of complex Javascript apps</li>
          <li>You have built or worked in a startup, or if you have proven records of successful team leading</li>
          <li>You can prove examples of solving problems while looking at the big picture</li>
        </ul>
        <a class="go-for-it" href="#apply-for-this-position">Apply for this position</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

</div>
<div class="clearfix"></div>
      <div class="LR-box-wrapper">
      <div class="LR-box">
        <div class="LR-box-container">
      <div class="payoffs">
        <h3 class="payoff">We build to help people. We live to dream what isn’t there yet. Do you want to join us?</h3>
      </div>
          <div class="hero-container">
            <div class="text">
              <h3>Not the usual job</h3>
              <div class="imgs">
                <img src="http://instagram.com/p/fYop4tAomO/media?size=l" />
                <img src="http://instagram.com/p/kMCtuLAopG/media?size=l" />
                <img src="http://instagram.com/p/lBVOb2gouh/media?size=l" />
                <div class="clearfix"></div>
              </div>
              <p>Pitchtarget means having fun. We build better ways for businesses to connect with people. We are looking for awesome people who are passionate and love to challenge theirselves. We believe that technology should make everyone's lives better. That's why you should join us.</p>
            </div>
          </div>
          <div class="hero-container">
            <div class="text">
              <h3>Work hard, play harder</h3>
              <div class="imgs">
                <img src="http://instagram.com/p/lA7ZDoAojD/media?size=l" />
                <img src="http://instagram.com/p/k7UZMsyn4Y/media?size=l" />
                <img src="http://instagram.com/p/k_wqAuSn1h/media?size=l" />
                <div class="clearfix"></div>
              </div>
              <p>Enjoy a young, vibrant environment. With parties and offsites every quarter, we do not know what boredom means. Every day you can enjoy a rich selection of healthy food. And our main office is in Venice — it's like having a romantic European summer vacation every weekend.</p>
              <p class="strong">
                <a href="http://goo.gl/iPAvG3" target="_blank">Take a tour of our headquarters (Google Business View)</a>
              </p>
            </div>
          </div>
          <div class="hero-container">
            <div class="text">
              <h3>Where lots of things are going on</h3>
              <div class="imgs">
                <img src="http://instagram.com/p/jR26PBgogD/media?size=l" />
                <img src="http://instagram.com/p/kl-B7bAokQ/media?size=l" />
                <img src="http://instagram.com/p/hDNRk4gorx/media?size=l" />
                <div class="clearfix"></div>
              </div>
              <p>You will work in a magical place that hosts events, monthly hackathons, and will gather the most prominent minds from all over the world. One day you may go for breakfast in our canteen, and suddenly you find our you are talking to the <a href="http://www.h-farmventures.com/en/2013/06/17/federico-faggin-at-h-farm/">father of the modern microprocessors</a>. Another day you might pitch to <a href="http://instagram.com/p/k4XFIBAohl/">the Prime Minister</a>. Or discuss style with the <a href="https://www.facebook.com/photo.php?fbid=10152219822269573&amp;set=pb.84021019572.-2207520000.1393928689.&amp;type=3&amp;theater">style makers</a>. You will be shaping up our future through technology. Do not miss this opportunity.</p>
            </div>
          </div>

    </div><!-- .box-wrapper -->
    <div class="footer">
      {% include footer.html %}
      {% include tag_manager.html %}
    </div>
  </div><!-- #content -->
    <script type="text/javascript">
      $(function() {
        var calculateHeight = function() {
          if ($('div.positions:visible').length) {
            var h = $('.application .listings').height() + $('form').height();
            h *= -1;
            $('.positions .job-spec').css('margin-top', h);
          }
        }

        if (location.search.match(/position=([\w-]+)/)) {
          var id = '#' + location.search.match(/position=([\w-]+)/).pop();
          var $elem = $(id);
          if ($elem.length) {
            $('#role').val(id.replace('#', ''));
            var $link = $('.positions .listings a[href="' + id + '"]');
            $('.positions a').removeClass('active');
            $link.addClass('active');
            $('div.positions').show();
            $('.positions .spec').hide();
            $(id).show();
            $('.positions').show();
            calculateHeight();
            $('form h2>span').text($link.text());
          }
        } else {
          var $first = $('.positions .listings a:first').addClass('active');
          var id = $first.attr('href');
          $('.positions .spec').hide();
          $(id).show();
          $('#role').val(id.replace('#', ''));
        }

        $('a.browse-positions').on('click', function() {
            $('div.positions').toggle();
            calculateHeight();
            return false;
        });

        $('.positions .listings a').on('click', function() {
          $('.positions .listings a').removeClass('active');
          $(this).addClass('active');
          var id = $(this).attr('href');
          $('.positions .spec').hide();
          $(id).show();
          $('#role').val(id.replace('#', ''));
          $('form h2>span').text($(this).text());
          if (window.history.pushState) {
            var url = '?position=' + id.replace('#', '');
            window.history.pushState({}, $(this).text(), url);
          }
          calculateHeight();
          return false;
        });

      });

      $('form').ajaxForm({
        beforeSubmit: function() {
          if (!($('#role').val() || $('#name').val() || $('#resume').val() || $('#email').val())) {
            return false;
          }

          if ($('#submit').attr('disabled')) {
            return false;
          }

          $('#submit').attr('disabled', 1).text('Uploading…');
        },
        complete: function() {
          $('#submit').text('Thank you!');
          $('body').append('<img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6014360342904&amp;value=0.01&amp;currency=GBP" />');
        }
      });
    </script>
</body>
