<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/words.css">
  </head>
  <body>
    <div id="header">
      <a href="/"><div id="logo">{{ site.name }}</div></a>
    </div>
    <div id="container">

      <div id="article">
        {{ content }}

        <div id="footer">
          <p>
            Pitchtarget<br />
            hello@pitchtarget.com
          </p>
          <p>
            <a href="https://github.com/pitchtarget">github.com/pitchtarget</a><br />
            <a href="https://twitter.com/pitchtarget">twitter.com/pitchtarget</a><br />
          </p>
        </div>
      <div>
    </div>
  </body>
</html>
