<!DOCTYPE html>
<head>
<link href='/assets/stylesheets/freightsans.css' rel='stylesheet' type='text/css'>
<link href='/assets/stylesheets/glyphs.css' rel='stylesheet' type='text/css'>
<script src="/js/jquery-2.1.0.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/header.js"></script>
<!-- REMOVE -->
<title>Pitchtarget</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="title" content="Pitchtarget" />
<meta name="keywords" content="" />
<meta property="og:title" content="Pitchtarget"/>
<meta property="og:type" content="company"/>
<meta property="og:site_name" content="Pitchtarget"/>
<meta property="og:description" content="Introducting the growth machine." />
<meta property="og:url" content="http://pitchtarget.com" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:image" content="http://pitchtarget.com/imgs/logo.png"/>
<link rel="shortcut icon" href="/imgs/icons/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="/imgs/icons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/imgs/icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/imgs/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/imgs/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/imgs/icons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/imgs/icons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/imgs/icons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/imgs/icons/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/imgs/icons/mstile-144x144.png">
<meta name="msapplication-square70x70logo" content="/imgs/icons/mstile-70x70.png">
<meta name="msapplication-square144x144logo" content="/imgs/icons/mstile-144x144.png">
<meta name="msapplication-square150x150logo" content="/imgs/icons/mstile-150x150.png">
<meta name="msapplication-square310x310logo" content="/imgs/icons/mstile-310x310.png">
<meta name="msapplication-wide310x150logo" content="/imgs/icons/mstile-310x150.png">
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

  <link href="/css/landing.css" rel="stylesheet" />
  <link href="/assets/stylesheets/header.css" rel="stylesheet" />

  <!-- REMOVE -->
  <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
    _fbq.push(['addPixelId', "698778510153243"]);
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(["track", "PixelInitialized", {}]);
  </script>
  <noscript><img height="1" width="1" border="0" alt="" style="display:none" src="https://www.facebook.com/tr?id=698778510153243&amp;ev=NoScript" /></noscript>
</head>
<body>
  <div id="content" class="LR-content"><!-- LR-sharing-page LR-stats LR-lx -->
  {% include header.html %}
<div class="landing-hero-container">
  <div class="background"></div>
  <div class="clearfix"></div>
  <h2 id="heading" class="LR-site-tagline montserrat">Introducing the growth machine designed for peace of mind.</h2>
</div>

</div>
<div class="clearfix"></div>
      <div class="LR-box-wrapper">
      <div class="LR-box">
        <div class="LR-box-container">
      <div class="payoffs">
        <h3 class="payoff">Pitchtarget means performance marketing on Facebook without the need to study books.</h3>
      </div>
          <div class="hero-container">
            <div class="text">
              <h3>We handle complexity. You enjoy ROI.</h3>
              <div class="icon">
                
              </div>
              <p>Can you increase your ROI using Facebook? Yes, but it's complicated. That's why we built a platform with an interface that guides you with a set of strategies. No need to worry if your are doing right – Just tell Pitchtarget what your goal is and it will deliver for you.</p>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="hero-container">
            <div class="text">
              <h3>Get results, not code.</h3>
              <div class="icon">
                
              </div>
              <p>Pitchtarget allows your team to focus more on enabling your clients to achieve great results and less in dealing with the technical hurdle of creating a new platform. If your clients are pushing you to get results on Facebook, it’s time to count on us.</p>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="hero-container">
            <div class="text">
              <h3>You ask. We do.</h3>
              <div class="icon">
                
              </div>
              <p>As Walt Disney used to say, “If you can dream it, you can do it”. We think creatively and strategically in both product and code to design custom solutions that suit your needs. If you need something that isn’t there yet, we’ll build it for you.</p>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="hero-container">
          <a id="contact" name="contact"></a>
            <h3>Interested? Let’s talk.</h3>
            <p>Fill the form below and we will contact you. We’ll be quick. Time is money.</p>
            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
            <div id="mc_embed_signup">
            <form action="//pitchtarget.us8.list-manage.com/subscribe/post?u=a97d536054cf77f2822e070bc&amp;id=29fffc1502" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
              <label for="mce-FNAME">First Name </label>
              <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-LNAME">Last Name </label>
              <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-COMPANY">Company </label>
              <input type="text" value="" name="COMPANY" class="" id="mce-COMPANY">
            </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_a97d536054cf77f2822e070bc_29fffc1502" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='COMPANY';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
          </div>
    </div><!-- .box-wrapper -->
  </div><!-- #content -->
  <div class="footer">
    {% include footer.html %}
  </div>
</body>
