<!DOCTYPE html>
<head>
<link href='/assets/stylesheets/freightsans.css' rel='stylesheet' type='text/css'>
<link href='/assets/stylesheets/glyphs.css' rel='stylesheet' type='text/css'>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://malsup.github.io/jquery.form.js"></script>
<!-- REMOVE -->
<title>Pitchtarget</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="title" content="Pitchtarget" />
<meta name="keywords" content="" />
<meta property="og:title" content="Pitchtarget"/>
<meta property="og:type" content="company"/>
<meta property="og:site_name" content="Pitchtarget"/>
<meta property="og:description" content="The first marketing platform designed for peace of mind." />
<meta property="og:url" content="http://pitchtarget.com" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:image" content="http://pitchtarget.com/imgs/logo.png"/>
<link rel="shortcut icon" href="/imgs/icons/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="/imgs/icons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/imgs/icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/imgs/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/imgs/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/imgs/icons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/imgs/icons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/imgs/icons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/imgs/icons/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/imgs/icons/mstile-144x144.png">
<meta name="msapplication-square70x70logo" content="/imgs/icons/mstile-70x70.png">
<meta name="msapplication-square144x144logo" content="/imgs/icons/mstile-144x144.png">
<meta name="msapplication-square150x150logo" content="/imgs/icons/mstile-150x150.png">
<meta name="msapplication-square310x310logo" content="/imgs/icons/mstile-310x310.png">
<meta name="msapplication-wide310x150logo" content="/imgs/icons/mstile-310x150.png">
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

  <link href="/css/landing.css" rel="stylesheet" />
  <link href="/assets/stylesheets/header.css" rel="stylesheet" />

  <!-- REMOVE -->
  <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
    _fbq.push(['addPixelId', "698778510153243"]);
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(["track", "PixelInitialized", {}]);
  </script>
  <noscript><img height="1" width="1" border="0" alt="" style="display:none" src="https://www.facebook.com/tr?id=698778510153243&amp;ev=NoScript" /></noscript>
</head>
<body>
  <img src="https://addictive-inventory.herokuapp.com/53047a3fca88ff051c0ac34b/event.gif?event_token=view_landing" width="1" height="1" />
  <div id="content" class="LR-content"><!-- LR-sharing-page LR-stats LR-lx -->
  {% include header.html %}
<div class="landing-hero-container">
  <div class="background"></div>
  <div class="clearfix"></div>
  <h2 id="heading" class="LR-site-tagline montserrat">The first marketing platform designed for peace of mind.</h2>
</div>

</div>
<div class="clearfix"></div>
      <div class="LR-box-wrapper">
      <div class="LR-box">
        <div class="LR-box-container">
      <div class="payoffs">
        <h3 class="payoff">Pitchtarget means performance marketing without the need to build tools or infrastructures.</h3>
      </div>
          <div class="hero-container">
            <div class="text">
              <h3>We handle complexity. You enjoy ROI.</h3>
              <div class="icon">
                
              </div>
              <p>We wrap Facebook Ads API into a set of clever features that you can put into your existing tools. Building on top of our platform is so easy you don't even need a SDK.</p>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="hero-container">
            <div class="text">
              <h3>Get results, not code.</h3>
              <div class="icon">
                
              </div>
              <p>Pitchtarget allows your team to focus more on enabling your clients to achieve great results and less in dealing with the technical hurdle of creating a new platform. If your clients are pushing you to get results on Facebook, it’s time to count on us.</p>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="hero-container">
            <div class="text">
              <h3>You ask. We do.</h3>
              <div class="icon">
                
              </div>
              <p>As Walt Disney used to say, “If you can dream it, you can do it”. We think creatively and strategically in both product and code to design custom solutions that suit your needs. If you need something that isn’t there yet, we’ll build it for you.</p>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="hero-container">
          <a id="contact" name="contact"></a>
            <h3>Interested? Let’s talk.</h3>
            <p>Fill the form below and we will contact you. We’ll be quick. Time is money.</p>
            <form method="post" action="http://melonpielabs.com/contact/">
              <label for="name">Your name</label>
              <input type="text" name="name" id="name" />
              <label for="company">Your company</label>
              <input type="text" name="company" id="company" />
              <label for="email">Your email</label>
              <input type="email" name="email" id="email" />
              <label for="phone">Your phone</label>
              <input type="tel" name="phone" id="phone" />
              <button type="submit" id="submit">Submit</button>
            </form>
          </div>
    </div><!-- .box-wrapper -->
  </div><!-- #content -->
<script>
$('form').ajaxForm({
  beforeSubmit: function() {
    if (!($('#email').val() || $('#phone').val())) {
      return false;
    }

    if ($('#submit').attr('disabled')) {
      return false;
    }

    $('#submit').attr('disabled', 1).text('Working…');
  },
  complete: function() {
    $('#submit').text('Thank you!');
    window._fbq.push(['track', 'formSubmit', {}]);
    var params = {};
    var keys = ['#email', '#phone'];
    for (var i in keys) {
      var val = $(keys[i]);
      if (val) {
        params[keys[i]] = val;
      }
    }

    $('body').append('<img height="1" width="1" alt="" style="display:none" src="https://addictive-inventory.herokuapp.com/53047a3fca88ff051c0ac34b/event.gif?event_token=form_submit&params=' + encodeURIComponent(JSON.stringify(params)) + '"');
  }
});
</script>
</body>
