<!DOCTYPE html>
<head>
<link href='/assets/stylesheets/freightsans.css' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<link href='/assets/stylesheets/glyphs.css' rel='stylesheet' type='text/css'>
<script src="/js/jquery-2.1.0.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/header.js"></script>
<!-- REMOVE -->
<title>Pitchtarget</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="title" content="Pitchtarget" />
<meta name="keywords" content="" />
<meta property="og:title" content="Pitchtarget"/>
<meta property="og:type" content="company"/>
<meta property="og:site_name" content="Pitchtarget"/>
<meta property="og:description" content="The first performance marketing platform designed for storytelling." />
<meta property="og:url" content="http://pitchtarget.com" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:image" content="http://pitchtarget.com/imgs/logo.png"/>
<link rel="shortcut icon" href="/imgs/icons/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="/imgs/icons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/imgs/icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/imgs/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/imgs/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/imgs/icons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/imgs/icons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/imgs/icons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/imgs/icons/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/imgs/icons/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/imgs/icons/mstile-144x144.png">
<meta name="msapplication-square70x70logo" content="/imgs/icons/mstile-70x70.png">
<meta name="msapplication-square144x144logo" content="/imgs/icons/mstile-144x144.png">
<meta name="msapplication-square150x150logo" content="/imgs/icons/mstile-150x150.png">
<meta name="msapplication-square310x310logo" content="/imgs/icons/mstile-310x310.png">
<meta name="msapplication-wide310x150logo" content="/imgs/icons/mstile-310x150.png">
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

  <link href="/css/landing.css" rel="stylesheet" />
  <link href="/assets/stylesheets/header.css" rel="stylesheet" />

  <noscript><img height="1" width="1" border="0" alt="" style="display:none" src="https://www.facebook.com/tr?id=698778510153243&amp;ev=NoScript" /></noscript>
</head>
<body>
  <div id="content" class="LR-content"><!-- LR-sharing-page LR-stats LR-lx -->
  {% include header.html %}
<div class="landing-hero-container">
  <div class="background"></div>
  <div class="clearfix"></div>
  <h2 id="heading" class="LR-site-tagline montserrat">Stories worth telling.</h2>
</div>

</div>
<div class="clearfix"></div>
      <div class="LR-box-wrapper">
      <div class="LR-box">
        <div class="LR-box-container">
      <div class="payoffs">
        <h3 class="payoff">Introducing Pitchtarget, the first performance marketing platform designed for storytelling.</h3>
      </div>
          <div class="hero-container landing-1">
            <div class="text float-right">
              <h3>Tell and sell.</h3>
              <p>
              Drive stronger sales by planning sequenced CTA campaigns.
              Finally you can reach the right people at the right time with the right message.
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="hero-container">
            <div class="text">
              <h3>Plan strategies, not campaings.</h3>
              <p>You have a marketing strategy, yet every tool lets you plan single campaigns.
              Pitchtarget is different. We execute your entire strategy. Set rules to start or stop
              the next step depending on KPIs that matter to you.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="hero-container">
            <div class="text float-right">
              <h3>Neat results. Neat interface.</h3>
              <p>A refined interface shows you results that you can understand without going crazy.
              We show your KPIs that matter for your objectives. Nothing more, nothing less.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="hero-container">
            <div class="text float">
              <h3>Automation that matters to you.</h3>
              <p>Cross-device retargeting. Filter Rules to create custom audiences based on your user's behaviour.
              Remarket to people who is highly engaged with your brand.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="hero-container final">
          <h3>Even more.</h3>
          <p>Software does not solve problems. People do. We are your strategic partners. Our Strategy Engineers
          will help you integrate your technologies with ours to get the best results.</p>

          <a id="contact" name="contact"></a>
            <h3>Interested? Let’s talk.</h3>
            <p>Fill the form below and we will contact you. We’ll be quick. Time is money.</p>
            <form method="post" action="//forms.brace.io/feedback@pitchtarget.com">
              <input type="hidden" name="_next" value="{{ site.url }}/thanks/contact.html" />
              <input type="hidden" name="category" value="contact" />
              <label for="name">Your name</label>
              <input type="text" name="name" id="name" />
              <label for="company">Your company</label>
              <input type="text" name="company" id="company" />
              <label for="email">Your email</label>
              <input type="email" name="email" id="email" />
              <label for="phone">Your phone</label>
              <input type="tel" name="phone" id="phone" />
              <button type="submit" id="submit">Submit</button>
            </form>
          </div>
    </div><!-- .box-wrapper -->
  </div><!-- #content -->
  <div class="footer">
    {% include footer.html %}
    {% include tag_manager.html %}
  </div>
  <script>
  $('form').ajaxForm({
    beforeSubmit: function() {
      if (!($('#email').val() || $('#phone').val())) {
        return false;
      }

      if ($('#submit').attr('disabled')) {
        return false;
      }

      $('#submit').attr('disabled', 1).text('Working…');
    },
    complete: function() {
      $('#submit').text('Thank you!');
      window._fbq.push(['track', 'formSubmit', {}]);
    }
  });
  </script>
</body>
