<!DOCTYPE html>
<head>
<link href='/assets/stylesheets/freightsans.css' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<script src="/js/jquery-2.1.0.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/header.js"></script>
<!-- REMOVE -->
  {% include meta.html %}
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

  <link href="/css/landing.css" rel="stylesheet" />
  <link href="/assets/stylesheets/header.css" rel="stylesheet" />
  <style>
    body.news div.post img {display:block;margin: 10px auto;width:500px;max-width:500px;}
  </style>

</head>
<body class="news">
  <div id="content" class="LR-content"><!-- LR-sharing-page LR-stats LR-lx -->
  {% include header.html %}
  {% include tag_manager.html %}
</div>
<div class="clearfix"></div>
      <div class="LR-box-wrapper" style="margin-top: 60px">
      <div class="LR-box">
        <div class="LR-box-container">
      <div class="payoffs">
        <h3 class="payoff" style="text-align: left">Pitchtarget News</h3>
      </div>
      {% for post in site.posts %}
          <div class="post">
            <div class="text">
              <h3 style="text-align: left;margin-bottom: 0"><a href="{{ post.url }}" style="color:#df5226">{{ post.title }}</a></h3>
              <p style="font-size:0.99em;margin:0 0 10px 0">{{ post.date | date_to_string }}</p>
              {{ post.excerpt | replace:'<p>', '<p style="margin:0">' }}
              <a href="{{ post.url }}" style="color:#df5226;font-weight:700">Continue reading…</a>
            </div>
          </div>
      {% endfor %}
    </div><!-- .box-wrapper -->
  </div><!-- #content -->
  <div class="footer">
    {% include footer.html %}
  </div>
</body>
